body{

    background-size: cover;
    background-repeat: no-repeat;
}

.inputField
{

    width: 400px;
    height: 30px;
}

.wizardContainer {
    background-image: url("../Pictures/Gandalf.webp");
    background-size: cover;
    width: 406px;
    height: 400px;

}

#title {
    color: white;
}

#responseField{
    width: 406px;
    height: 500px;
    background-color: rgba(0, 0 ,0, 40%);
    color: white;
}

.button-group button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 24px;

}