body{
    background-image: url("https://berlingske.bmcdn.dk/media/cache/resolve/image_x_large_lg/image/14/145326/14464568-gandalf---10_20160822065043115.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.inputField
{

    width: 100vw;
    height: 30px;
}

.gandalfContainer {
    background-image: url("../Pictures/Gandalf.webp");
    background-size: cover;
    width: 300px;
    height: 300px;


    width: 400px;
    height: 30px;
}

.responseField{
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0 ,0, 40%);
}

.button-group button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 24px;

}