body{
    background-size: cover;
    background-repeat: no-repeat;
}

.inputField
{

    width: 400px;
    height: 30px;
}

.gandalfContainer {
    background-image: url("../Pictures/Gandalf.webp");
    background-size: cover;
    width: 300px;
    height: 300px;

}

.responseField{
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0 ,0, 40%);
}

.button-group button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 24px;

}